<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Bootstrap demo</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>
    <!-- nav -->
    <nav
      class="navbar fixed-top bg-dark navbar-expand-lg bg-body-tertiary"
      data-bs-theme="dark"
    >
      <div class="container-fluid">
        <a class="navbar-brand" href="#">
          <img src="Aset/Logo Mi.png" alt="Bootstrap" width="30" height="30" />
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="index.html"
                >Home</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="AddProject.html">Add Project</a>
            </li>
          </ul>
          <form class="d-flex" role="search">
            <a
              href="myproject.html"
              class="btn btn-light btn-outline-success"
              type="submit"
            >
              Contact Me
            </a>
          </form>
        </div>
      </div>
    </nav>
    <!-- end nav -->

    <section class="w-100 h-100">
      <div class="container p-3 mt-3">
        <div class="text-center">
          <h2 class="fw-bold p-5">{{.ProjekDetail.Nama}}</h2>
        </div>
        <div class="d-flex flex-xl-row flex-column">
          <div class="img-blog mx-lg-5 m-2">
            <img
              src="Aset/IMG_6801.JPG"
              style="width: 100%; height: 25em; object-fit: cover"
              alt=""
            />
          </div>
          <div class="fs-6 p-5">
            <h3 class="fw-bold mb-3">Duration</h3>
            <p class>
              <i class="fa-regular fa-calendar-days fa-2x me-3"></i>
              {{.ProjekDetail.PostDate}}
            </p>
            <p class>
              <i class="fa-regular fa-calendar-days fa-2x me-3"></i>
              {{.ProjekDetail.EndDate}}
            </p>
            <p><i class="fa-solid fa-clock fa-2x me-3"></i>4 Bulan</p>
            <h3 class="fw-bold mb-3 me-3">Tehcnologies</h3>
            <p>
              <i class="fa-brands fa-{{.ProjekDetail.ReactJs}} fa-2x me-3"></i> React JS

              <i class="fa-brands fa-{{.ProjekDetail.NodeJs}} fa-2x mx-3"></i> Node JS
            </p>
            <p>
              <i class="fa-brands fa-{{.ProjekDetail.JavaScript}} fa-2x me-3"></i> Javascript

              <i class="fa-brands fa-{{.ProjekDetail.Golang}} fa-2x mx-3"></i> Golang
            </p>
          </div>
        </div>

        <div class="text-blog p-lg-5 px-3">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsam
          perferendis, a asperiores nostrum ad deserunt cum voluptatibus
          molestiae fugit et, officiis saepe quisquam dignissimos esse quaerat
          deleniti consectetur, sequi atque? Lorem ipsum, dolor sit amet
          consectetur adipisicing elit. Facere id ipsum odio aliquam, eveniet
          doloribus assumenda consectetur distinctio iure, ducimus sequi vero
          fugit quod mollitia, exercitationem corrupti laborum nisi. Reiciendis?
        </div>
      </div>
    </section>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
